// TODO stillingar hér

$max-width: 1200px;
$gutter: 20px;

$font-main: "Open Sans", helvetica, arial, sans-serif;
$font-heading: "Oswald", Verdana, serif;

$color-1: #000000;
$color-2: #ffffff;
$color-3: #afb281;
$color-4: #cee8ff;
$color-5: #fcffd2;
$color-6: #cc9694;

// Leturstærðir
// 12 14 16 18 21 24 36 48 60

$transition: 300ms ease-in-out;

@mixin header() {
    background-color: $color-3;
    display: flex;
    height: 20vh;
}

@mixin row() {
    display: flex;
}

@mixin columns($col: 1) {
    // margföldum með "1%" til að breyta gildi í prósentu gildi
    width: ($col / 2 * 100) * 1%;

    padding-right: $gutter / 2;
    padding-left: $gutter / 2;
}

@mixin offset-left($cols: 0) {
    margin-left: ($cols / 12 * 100) * 1%;
}
