@import "./config";

.footer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: $color-6;
    padding: $gutter;
   
    height: 20vh;

    @media screen and (min-width:$medium) {
        height: 60vh;
        
    }
    
    &__lists {
        display: flex;
        justify-content: flex-start;
        align-content: space-between;
        max-width: 1200px;
        width: 100%;
        font-size: 21px;
    }
    
    &__list {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        width: 20%;
        padding-right: $gutter;

        font-family: $font-main;
        font-weight: bold;
        
        & ul {
            list-style: none;

            & label {
                font-size: 24px;
                font-weight: bold;
            }
        }
    }   
    &__note {
        margin: 0 auto;
    }
}

.list {
    &__link {
        text-decoration: none;
        color: $color-5;
        text-decoration: none;
        font-weight: normal;
        transition: 0.4s;
        
        &:hover {
            color: $color-1;
        }
    }
}

