@import "./config";

.footer {
    background-color: $color-6;
    height: 30vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
    &__lists {
        display: flex;
        justify-content: space-between;
        align-content: flex-start;
        @include columns;
        @include offset-left;
        
    }
    
    &__list {
        font-family: $font-main;
        display: flex;
        font-weight: bold;
        flex-direction: column;
        
        & ul {
            list-style: none;
        }
        
        &__link {
            text-decoration: none;
            color: $color-5;
            text-decoration: none;
            font-weight: normal;
            transition: 0.4s;
            
            &:hover {
                color: $color-1;
            }
        }
    }

    &__note {
        margin: 0 auto;
    }
}