@import "./config";

.footer {
    background-color: $color-6;
    height: 30vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
    &__lists {
        display: flex;
        justify-content: space-around;
    }
    
    &__list {
        display: flex;
        flex-direction: column;
        width: 50%;

        font-family: $font-main;
        font-weight: bold;
        
        & ul {
            list-style: none;
        }
    }   
    &__note {
        margin: 0 auto;
    }
}

.list {
    &__link {
        text-decoration: none;
        color: $color-5;
        text-decoration: none;
        font-weight: normal;
        transition: 0.4s;
        
        &:hover {
            color: $color-1;
        }
    }
}

