@import "./config";

.header {
    background-color: $color-3;
    display: flex;
    padding: 0 $gutter;
    justify-content: center;

    &__box {
        width: $max-width;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: $gutter 0;
    }
}
.box {
    &__title {
        margin: 0 auto;
        font-family: $font-heading;
        font-size: 32px;
    }
    &__content {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;

        @media screen and (min-width: $small) {
            flex-direction: column;
            justify-content: center;
        }
    }
    &__links {
        display: inline-block;
        flex-direction: row;
        align-items: flex-end;
        width: 50%;

        @media screen and (min-width: $small) {
            display: flex;
            margin: 0 auto;
        }

        & a {
            margin: 10px;
        }

        & a:active {
            text-decoration: underline;
        }
    }
    
    &__link {
        @include link-style;
        text-decoration: none;
        &__current {
            @include link-style;
            text-decoration: underline;
        }
    }    
    &__basket {
        display: flex;
        align-items: center;
        width: 10%;
        justify-content: flex-end;
        width: 24%;

        @media screen and (min-width: $small) {
            margin: 0 auto;
            justify-content: center;
            
        }

        & img {
            display: flex;
            justify-items: flex-end;
            max-width: 20px;
            margin: 3px;
        }
    }
}
