@import "./config";

.header {
    @include header;
    padding: 0 $gutter;

    &__box {
        width: $max-width;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}
.box {
    &__title {
        margin: 24px auto;
        font-family: $font-heading;
        font-size: 32px;
    }
    &__content {
        height: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-between;
    }
    &__links {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        justify-items: center;
        align-content: flex-end;
        align-items: center;
        text-align: center;
        width: 50%;
        margin: 0 10% 0 26%;
    }
    
    &__link {
        color: $color-1;
        justify-content: space-between;
        text-decoration: none;
        font-family: $font-main;
        font-weight: bold;
        transition: 0.4s;
        &:hover {
            color: $color-4;
        }
    }    
    &__basket {
        display: flex;
        align-items: center;
        width: 10%;
        justify-content: space-between;
        align-content: flex-end;
        & img {
            max-width: 30%;
        }
    }
}
