@import "./config";

.info {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: $gutter;

    
    &__cards {
        max-width: 1200px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-around;
        :nth-child(3) {
            order: 4;
        }
    }

    &__card {
        max-width: 49%;
        width: 100%;
        display: flex;
        padding: $gutter 0;
    }
    
    &__text {
        display: flex;
        font-family: $font-main;
        flex-direction: column;
        margin: 20px 0;
        font-size: 24px;
        width: 100%;

        justify-content: space-evenly;
        justify-items: center;
        
        
        h2 {
            font-family: $font-heading;
        }
    }
    
    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-6;
        border-radius: 3px;
        max-width: 40%;
        max-height: 10%;
        width: 100%;
        height: 100%;
        transition: $transition;
        
        a {
            color: $color-1;
            font-size: 14px;
            text-decoration: none;

        }
    }

    &__button:hover {
        background-color: $color-1;
        a {
            color: $color-6;
        }
    }

    &__img {
        img {
            width: 100%;
        }
    }
}