@import "./config";

.info {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    
    margin: $gutter*2;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    
    &__text {
        font-family: $font-main;
        width: 49%;

        button {
            background-color: $color-6;
            border: none;
            max-width: 50%;
            width: 100%;
        }

        h2 {
            font-family: $font-heading;
        }
    }

    &__img {
        width: 49%;
        img {
            width: 100%;
        }
    }
}