.staff {
    display: flex;
    flex-flow: row wrap;
    padding: $gutter;
    justify-content: center;
    
    &__cards {
        max-width: 1200px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    &__card {
        max-width: 49%;
    }

    &__img {
        width: 100%;

        & img {
            width: 100%;
        }
    }
}


