.staff_imgs > * {
    margin: 0 auto;
}

.staff_imgs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1200px;
    align-content: space-between;

    & img {
        width: 100%;
    }

}

.staff__images {
    max-width: 49%;
}

.stradi {
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-flow: row wrap;
}

