.staff {
    display: flex;
    flex-flow: row wrap;
    padding: $gutter;
    justify-content: center;
    
    &__cards {
        max-width: 1200px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    &__card {
        max-width: 49%;
    }
}

.card {
    &__container {
        width: 100%;
    }

    &__front {
        position: relative;
        transition: $transition;
        z-index: 2;
        & img {
            width: 100%;
        }

        &:hover {
            transform: rotateY(90deg);
            opacity: fade;
            
        }
    }

    &__back {
        display: flex;
        text-align: center;
        align-content: center;
        flex-direction: column;
        margin: 0 auto;
    }
}
