@import "./config";

.header {
    @include header;

    &__title {
        margin: 0 auto;
        &__head {
            font-family: $font-heading;
            font-size: 32px;
        }
        &__links {
            text-align: center;
            align-content: flex-end;
            display: flex;
            flex-direction: row;
        }
        
        &__link {

            justify-content: space-between;
            text-decoration: none;
            font-family: $font-main;
            font-weight: bold;
        }
    }

    &__basket {
        justify-content: flex-end;
    }
}